<div class="container-fluid">
  <form [formGroup]="rfContact" style="margin: 0px 10px;" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-4 mb-3 form-group">
        <label >Name</label>
        <input type="text" class="form-control" formControlName="name"
          [ngClass]="{'is-invalid': f['name'].invalid && (f['name'].dirty)}" autofocus>
        <div class="form-text text-danger"  *ngIf="f['name'].invalid && (f['name'].dirty)">
          <div *ngIf="f['name'].errors?.required">Vui long nhap ten</div>
          <div *ngIf="f['name'].errors?.minlength">Vui long nhap du so ky tu toi thieu la 4</div>
          <div *ngIf="f['name'].errors?.maxlength">Vui long nhap du so ky tu toi da la 10</div>
        </div>
      </div>
      <div class="col-md-4 mb-3 form-group">
        <label >Email</label>
        <input type="email" class="form-control" formControlName="email"
          [ngClass]="{'is-invalid': f['email'].invalid && (f['email'].touched || f['email'].dirty)}">
        <div class="form-text text-danger" *ngIf="f['email'].invalid && (f['email'].touched || f['email'].dirty)">
          <div *ngIf="f['email'].errors?.required">Vui long nhap email</div>
          <div *ngIf="f['email'].errors?.email">Vui long nhap dung dinh dang email</div>
        </div>
      </div>
      <div class="col-md-4 mb-3 form-group">
        <label >Age</label>
        <input type="number" class="form-control" formControlName="age"
          [ngClass]="{'is-invalid': f['age'].invalid && (f['age'].touched || f['age'].dirty)}">
        <div class="form-text text-danger" *ngIf="f['age'].invalid && (f['age'].touched || f['age'].dirty)">
          <div *ngIf="f['age'].errors?.required">Vui long nhap so dien thoai</div>
          <div *ngIf="f['age'].errors?.min">tuoi cua ban phai lon hon 17</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1 mb-3">
        <button class="btn btn-primary" type="submit">Submit form</button>
      </div>
      <div class="col-md-1 mb-3">
        <button class="btn btn-success" type="button" (click)="resetForm()">Reset form</button>
      </div>
    </div>
  </form>
</div>

<!-- </form>
<form action="" [formGroup]="rfContact" (ngSubmit)="onSubmit()">
  <div class="row">
    <div>
      <div col-lg-3>
        <label for="">Name</label>
        <input type="text" formControlName="name">
      </div>
      <div *ngIf="f.name.invalid && f.name.touched" style="color: red;">
        <div *ngIf="f['name']?.errors?.required">Vui long nhap ten</div>
        <div *ngIf="f['name']?.errors?.minlength">Vui long nhat hon 5 ky t</div>
      </div>
    </div>
    <div>
      <label for="">Email</label>
      <input type="text" formControlName="email">
    </div>
    <div>
    </div>
  </div>
  <button>Submit</button>
</form>
<pre>{{ rfContact.value | json}}</pre>
<pre>{{rfContact.invalid}}</pre> -->
