<form action="" [formGroup]="rfContact" (ngSubmit)="onSubmit()">
  <div>
    <div class="form">
      <label for="">Name</label>
      <input type="text" formControlName="name">
    </div>
    <div *ngIf="rfContact.controls.invalid && (rfContact.controls.touched || rfContact.controls.dirty)" style="color: red;">
      <div *ngIf="rfContact.controls.name?.errors?.required">Vui long nhap ten</div>
      <div *ngIf="f.name?.errors?.minlength">Vui long nhap ten dai hon 5 ky tu</div>
      <div *ngIf="f['name']?.errors?.pattern">Vui long chi nhap so</div>

    </div>
    <div>
      <label for="">Email</label>
      <input type="text" formControlName="email">
    </div>
    <div>
    </div>
  </div>
  <button>Submit</button>
</form>
<pre>{{ rfContact.value | json}}</pre>
<pre>{{rfContact.invalid}}</pre>
